init-author-name=Stephen Merth
init-author-email=stephen.merth@gmail.com
init-author-url=https://smerth.github.io/
init-license=MIT
email=stephen.merth@gmail.com
registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=TOKEN
@smerth:registry=https://npm.pkg.github.com/smerth
//npm.pkg.github.com/:_authToken=TOKEN
//npm.pkg.github.com/smerth/:_authToken=TOKEN
always-auth=true
scripts-prepend-node-path=true