[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Stephen Merth
	email = smerth@users.noreply.github.com
	twitter = StephenMerth
[push]
	default = simple
[color]
	ui = auto
[core]
	pager = less -r
	autocrlf = input
	ignorecase = false	
[credential]
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
